/* UpdateAlbum file css */
.container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  text-align: left;
}
label {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  margin-bottom: 2rem;
  color: #231d63;
}
input {
  margin-top: 0.5rem;
  border-radius: 0.35rem;
  border: none;
  font-size: 1.3rem;
  color: #231d63;
  background-color: aliceblue;
  padding: 1rem 0.5rem;
  transition: all 0.2s ease-in-out;
}
input:focus {
  border-color: #231d63;
  outline: none;
  box-shadow: 0 0 10px rgb(86, 86, 86);
}
.submitBtn {
  border-radius: 0.35rem;
  color: white;
  background-color: green;
  font-weight: bold;
  padding: 1rem;
  font-size: 1.3rem;
  border: none;
  transition: all 0.2s ease-in-out;
}
.submitBtn:hover {
  box-shadow: 0 0 10px rgb(86, 86, 86);
}
